.dragDropCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.25s ease;
}

.dragDropCont:hover {
  background-color: #eeeeee !important;
  cursor: pointer;
}

.cloudGraphic {
  width: 200px;
}

