<div class="row">
  <div class="col-12 inCartProd">

    <div class="row innerRow">
      <div class="col-7">
        <div class="inCartItemText">
          <h6>Total:</h6>
        </div>
      </div>

      <div class="col-5" style="text-align: right; display: flex; justify-content: flex-end;">
        <span style="font-size: 14px; padding-top: 1px; font-weight: 500;">{{ totalQuantity }}</span>
        &nbsp;
        <span style="font-weight: 400; font-size: 14px;">Items</span>
      </div>

      <div class="col-7" style="text-align: left; font-size: 13px; display: flex; justify-content: flex-start;"></div>

      <div class="col-5">
        <div style="text-align: right;">$ {{ totalPrice }}</div>
      </div>
    </div>

  </div>
</div>
